@import "frappe-ui/src/style.css";

/* Add this to the top of src/assets/main.css */

:root {
  --primary-color: #0D6EFD;
  --text-color: #212529;
  --text-color-muted: #6C757D;
  --bg-color: #F8F9FA;
  --card-bg: #FFFFFF;
  --border-color: #DEE2E6;
}

/* Example of using the variables */
body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

ion-modal {
	--height: auto;
}

input:disabled {
	--webkit-text-fill-color: var(--tw-text-color);
	opacity: 0.9; /* required on iOS */
	color: var(--tw-text-color);
}

/* For Webkit-based browsers (Chrome, Safari and Opera) */
input::-webkit-date-and-time-value {
	text-align: left;
}

body {
	-webkit-tap-highlight-color: transparent;
}

.hide-scrollbar::-webkit-scrollbar {
	display: none;
}

/* For IE, Edge and Firefox */
.hide-scrollbar {
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}
